@media screen and (max-width: 1800px) {
    

    * {
        font-family: 'GT Eesti Display',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    }

    .width{
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }
    .t-align {
        text-align: center;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }
    .f-left {
        float: left;
    }
    .f-right {
        float: right;
    }
    .clear {
        clear: both;
    }

    body {
        margin: 0px; 
    }

    .sky-blue {
        color:#1283DA;
        border-color: #1283DA;
    }
    .red {
        color: #EF3061;
        border-color: #EF3061;
    }

    .purple {
        color: #7C39ED;
        border-color: #7C39ED;
    }

    .bg-gray {
        background-color:  #f6f6f6;
    }

    /* Slider color */
    .bg-sl-green {
        background-color: rgb(17, 175, 34);
    }
    .bg-sl-red {
        background-color:rgb(239, 48, 97);
    }
    .bg-sl-blue {
        background-color:rgb(18, 131, 218);
    }
    .bg-sl-violet {
        background-color:rgb(124, 57, 237);
    }
    .bg-sl-orange {
        background-color:rgb(247, 101, 59);
    }
    .bg-sl-gray {
        background-color:rgb(102, 102, 102);
    }
    /* Top red bar */

    #top-red-bar {
        background-color: #F82B60;
        color: white;
        text-align: center;
        padding: 0.6% 0%;
    }
    #top-red-bar > p {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        margin: 0px;
    }
    #top-red-bar > p > a {
        color: white;
        text-decoration: none;
        padding-bottom: 1px;
        border-bottom:1px rgba(255, 255, 255, 0.452) solid; 
    }

    /* Navbar */
    nav {
        background: white;
        position: relative;
        width:100%;
        margin: auto;
        padding:0px 0px;
        z-index: 10;
        font-weight: 600;
    }
    #header {
        margin: auto;
        width: 100%;
        max-width: 1350px;
        height: 50px;
    }
    #header > section:nth-of-type(1){
        width: 5%;
        height:30px;
        float:left
    }
    #header > div {
        float:left;
    }
    #airtable-logo {
        width:120px; 
        height:30px;  
        float:left;
    }
    #header > div:nth-of-type(1) {
        width:10%;
        margin:10px;    
        text-align: left;
        float:left;
    }
    #header > div:nth-of-type(2) {
        width:7%;
        margin:15px 0px;
    }
    #header > div:nth-of-type(3) {
        width:8%;   
        margin:15px 0px;
    }
    #header > div:nth-of-type(4) {
        width:7%;
        margin:15px 0px;
    }
    #header > div:nth-of-type(5) {
        width:20%;
        
        margin:15px 0px;
    }
    #header > div:nth-of-type(6) {
        width:8%;
        
        margin:15px 0px;
    }
    #header > div:nth-of-type(7) {
        width:9%;
        
        margin:15px 0px;
    }
    #header > div:nth-of-type(8) {
        width:5%;
        
        margin:15px 0px;
    }
    #header > div:nth-of-type(9) {
        width:11%;
        
        margin:5px 0px;
    }
    #signup-btn-header {
        width:150px;
        height:35px;
        margin:1% 0.4%; 
        font-size:15px;
    }
    #menu-bar {
        width:3%;
        margin:10px 5px;
        display:none;
    }
    #menu-list {
        padding:0% 3%;
        font-size:19px;
        display:none;   
    }
    #menu-list > div > p {
        margin:15px 0px;
    }
    #menu-list  hr  {
        position: relative;
        border:1px solid rgb(235, 231, 231);
    }


    /* Slide show */
    #main-slideshow {
        overflow: hidden;
        color: white;
    }
    #main-slideshow {
        position: relative;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        animation: 15s slider infinite;
        animation-timing-function:ease-in;
    }
    @keyframes slider {
        0% {
            background-image: url('./Public/hero_image_1.jpg');
        }
        35% {
            background-image: url('./Public/hero_image_2.jpg');
        }
        70% {
            background-image: url('./Public/hero_image_3.jpg');
        }
        100% {
            background-image: url('./Public/hero_image_1.jpg');
        }
        
    }

    /* Text-slider */
    #animate-text{
        padding-top: 10px;
        display: inline-block;
        overflow: hidden;
    }
    #animate-text span{
        display: none;
        height: 80px;
        font-size: 66px;
    }
    #animate-text span.text-in{
        display: inline-block;
        animation: textIn 1s ease;
    }
    #animate-text span.text-out{
        animation: textOut 1s ease;
    }
    @keyframes textIn{
        0%{
            transform: translateY(80%);
            opacity: 0;
        }
        100%{
            transform: translateY(0%);
            opacity: 1;
        }
    }
    @keyframes textOut{
        0%{
            transform: translateY(0%);
            opacity: 1;
        }
        100%{
            transform: translateY(-80%);
            opacity: 0;
        }
    }
    .overflow-x {
        width: 100%;
        max-width: 1300px;
        overflow-x: hidden;
        overflow-y: visible;
        margin: 100px auto;
    }
    #main-text {
        width: 70%;
        max-width: 700px;
        padding-right: 10%;
        margin: 6% 12% 10%;
    }
    #main-text > h1 {
        font-size: 66px;
        margin-bottom: 0px;
    }
    #main-text > p {
        margin: 10px 0px;
        font-size: 22px;
        padding:0px 40% 0px 0px;
        line-height: 1.3;
        font-weight: 500;
    }


    /* Below main slider */
    #trusted {
        margin: 60px auto;
    }
    #trusted > h3{
        color: #333333;
        font-size: 24px;
        margin: 0px auto 20px;
        font-weight: 500;
    }
    #trusted img {
        margin: auto;
    }
    /* Buttons */
    .exp-btn {
        cursor: pointer;
        width: 200px;
        border-width: 1px;
        border: 2px solid;
        padding: 1% 1%;
        font-size: 1.25em;
        border-radius: 25px;
        filter: brightness(1.15);
    }
    .exp-btn:hover {
        filter: brightness(0.75);
    }
    .signup-btn {
        margin-top: 40px;
        padding: 10px 0px;
        border: none;
        border-radius: 25px;
        color: white;
        background-color: #1283DA;
        filter: brightness(1.5);
    }
    #bottom-sign-up-btn {
        padding-left: 20px;
        padding-right: 20px;
    }

    #trusted-big {
        display: block;
    }
    #trusted-md {
        display: none;
    }
    #trusted-sm {
        display: none;
    }

    /* 
    .nav-links:hover, .nav-links a:hover {
        color: blue;
    }
    #nav-bar {
        padding: 0px 0px;
    } 
    #main {
        font-size: 2rem;
        margin: auto;
    } */
    /* .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    #nav-bar {
        background: white;
        width: 100%;
        z-index: 1;
    } */


    /* Video styling */
    #showcase {
        padding: 80px 0px;
    }
    #showcase > .flex {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 80px 0px;
    }
    .vdo-box {
        max-width: 700px;
        width: 58%;
    }
    #showcase .text {
        max-width: 400px;
        width: 40%;
    }
    #showcase .text > h1, .slidehead{
        font-size: 56px;
        line-height: 1;
        margin: 0px;
        padding-right: 5px;
    }
    #showcase .text > p, .slidepara{
        margin-top: 15px;
        font-size: 20px;
        padding:0px 35px 10px 0px;
        line-height: 1.6;
        font-weight: 500;
        color: #666666;
    }
    video {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 16px 24px -16px rgb(0 0 0 / 50%);
    }
    /* Carousel / slideshow1 */
    .prev, .next {
        cursor: pointer;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 44px;
        font-weight: 400;
        margin: 17% 1.5% -50%;
        width: 60px;
        position: relative;
        z-index: 5;
        height: 60px;
        border-radius: 999px;
        color: rgb(18,131,218);
        background-color: white;
        box-shadow: 0 16px 24px -16px rgb(0 0 0 / 50%), 0px 0px 24px rgb(0 0 0 / 10%);
    }
    .prev:hover, .next:hover {
        width: 70px;
        height: 70px;
        margin: 16.55% 1% -50%;
        border-radius: 50%;
        font-size: 56px;
    }
    .next {
        float: right;
    }
    #dot-buttons {
        float: right;
        margin-right: 40%;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0% 4px 3%;
        background-color: white;
        border-radius: 50%;
        border: 2px solid  rgb(18,131,218);
        display: inline-block;
        transition: background-color 0.6s ease;
    } 
    .active {
        background-color: rgb(18,131,218);
    }
    
    #testimonials {
        width: 100%;
        height: 100%;
        max-width: 1200px;
        height: 420px;
        background-color: rgb(18,131,218);
        border-radius: 10px;
    }
    #carousel {
        width: 4800px;
        height: 400px;
        display: flex;
        z-index: 0;
        margin: 5% auto 1%;
    }
    .car-slide {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 1200px;
        width: 100%;
        height: 100%;
        padding: 0% 1.5%;
    }
    .car-slide-in-inc {
        animation: slideInCarInc 1s forwards;
    }
    .car-slide-out-inc {
        animation: slideOutCarInc 1s forwards;
    }
    @keyframes slideInCarInc {
        from {
            transform:translateX(200%);
        }
        to {
            transform: translateX(0);
        }
    }
    @keyframes slideOutCarInc {
        from {
            transform:translateX(0);
        }
        to {
            transform: translateX(-200%);
        }
    }
    .car-slide-in-dec {
        animation: slideInCarDec 1s linear;
    }
    .car-slide-out-dec {
        animation: slideOutCarDec 1s linear;
    }
    @keyframes slideInCarDec {
        from {
            transform:translateX(0);
        }
        to {
            transform: translateX(100%);
        }
    }
    @keyframes slideOutCarDec {
        from {
            transform:translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    .car-img-sliding {
        margin: 1% 1.25% 1.25% !important;
        height: 95% !important;
        width: 35% !important;
        max-width: 300px !important;
    }
    .car-slide > div {
        float: left;
    }
    .car-img {
        width: 50%;
        max-width: 425px;
        height: 125%;
        margin: -4% 2% 0% 0%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }
    .car-text {
        width: 48%;
        height: 90%;
        display: flex;
        flex-direction: column;
        max-width: 650px;
        color: white;
        font-size: 22px;
        line-height: 1.1;
        margin: 3% 1% 0% 0%;
    }

    .car-text > h1 {
        width: 625px;
        height: 50%;
        font-weight: 500;
    }

    .slide-footer {
        height: 10%;
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }
    .slide-footer img {
        float: right;
    }
    .slide-footer div {
        font-size: 16px;
    }

    /* Slideshow 2 */
    #slideshow2 {
        height: 270px;
        overflow: hidden;
        padding: 30px 0px;
    }
    #slidetrack:hover {
        animation-play-state:paused;
        cursor: pointer;
    }
    #slidetrack {
        height: 190px;
        padding: 25px 0px;
        width: calc(260px * 14);
        display: flex;
        justify-content: space-between;
        animation: scroll 50s linear infinite;
    }
    #slidetrack > .slidebox{
        height: 190px;
        width: 230px;
        border-radius: 20px;
        display: inline-block;
        box-shadow: 0 16px 24px -16px rgb(0 0 0 / 50%);
    }
    .slidebox > img {
        width: 100%;
        margin: 0px;
    }

    .slidebox > p {
        font-weight: 600px;
        color: white;
        font-size: 18px;
        margin: 0px;
        padding: 0px 10px;
    }

    @keyframes scroll {
        0% { transform: translateX(calc(-260px*7)); }
        100% { transform: translateX(0)}
    }

    .template-showcase {
        padding: 50px 0px 80px;
        margin: 80px 0px;
    }

    .slidepara, .slidehead {
        width: 100%;
        max-width: 500px;
        margin: auto;
        
    }
    .slidepara {
        font-size: 18px;
        color: gray;
    }
    .slidehead {
        margin-bottom: 30px;
        color: #333333;
    }
    .m-auto {
        margin: auto;
    }


    #slideshow3 {
        height: 190px;
        overflow: hidden;
        margin-bottom: 50px;
    }
    #slidetrack3 {
        height: 150px;
        padding: 25px 0px;
        width: calc(170px * 16);
        display: flex;
        justify-content: space-between;
        animation: scroll2 56s linear infinite;
    }
    #slidetrack3 > img{
        height: 144px;
        width: 144px;
        border-radius: 20px;
        display: inline-block;
        box-shadow: 0 16px 24px -16px rgb(0 0 0 / 50%);
    }
    @keyframes scroll2 {
        0% { transform: translateX(calc(-170px*8)); }
        100% { transform: translateX(0)}
    }

    #end-head {
        padding: 0px !important;
        margin-bottom: 50px;
    }

    #end-head ~ p {
        font-size: 16px;
        color: gray;
        font-weight: 500;
        margin: 30px 30% 100px 30%;
    }
    

    /* Footer */
    #footer {
        display:grid;
        grid-template-columns: 20% 14% 14% 14% 14%;
        grid-gap:4.25%;
        font-size:14px;
        height:300px;
        width: 90%;
        max-width: 1300px;
        margin: 150px auto 50px;
    }
    #footer > div > img {
        margin-right: 20px;
    }
    #footer > div {
        text-align:center;
    }
    #footer > div {
        color:rgb(124, 122, 122);
    }
    #footer > div > div {
        display:flex;
    }
    #footer > div > div > p {
        margin:5px;
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom:2px solid rgb(224, 224, 224)
    }
    #footer > div > div > p:hover {
        cursor: pointer;
        border-bottom:2px solid rgb(117, 115, 115)
    }
    #copyrights{
        font-size:12px;
        font-weight:300;
    }
    
}


/* Navigation */
@media screen and (max-width: 1150px) {
    .flex {
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
    }
    .overflow-x {
        display: block;
    }
    .hide {
        display:none;
    }
    #header > div:nth-of-type(7) {
        width:37%;
        float:left;
        text-align: right;
        padding-right:5%;
    }
    #header > div:nth-of-type(8) {
        width:10%;
        float:left;
        text-align: left;
        margin-right:10px;
        padding-right:1%;
    }
    #menu-bar {
        display:inline;
        position:fixed;
        float:right;
        padding:2px;
        right:0;
    }
    #main {
        width:90%;
        font-weight: 600;
    }
    video {
        margin: 5% 15%;
    }
}

@media only screen and (max-width:900px) {
    #header > div:nth-of-type(7) {
        width:45%;
    }
}
@media only screen and (max-width:800px) {
    #header > div:nth-of-type(7) {
        width: 41%;
    }
}


@media screen and (max-width: 700px) {
    .flex {
        flex-direction: column;
    }
    #trusted-sm {
        display: none;
    }
    #trusted-md {
        display: block;
    }
    #header > div:nth-of-type(8) , #header > div:nth-of-type(7) {
        display:none;
    }
    #header > div:nth-of-type(9) {
        width: 80%;
        text-align: right;
    }
    #header > div:nth-of-type(10) {
        position : relative;
        text-align: right;
    }
    #trusted-big {
        display: none;
    }
    video {
        margin: 5% 5%;
    }
    .text {
        width: 90% in !important;
        margin: 5% 10%
    }
    #footer {
        grid-template-columns:50%;
        grid-row-gap:40px;
        margin:3%;
    }
    #footer > div {
        text-align:left;
    }
    #copyrights {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .flex {
        flex-direction: column;
        margin: auto;
    }
    .width {
        width: 98%;
        margin: auto;
    }
    #trusted-md {
        display: none;
    }
    #trusted-sm {
        display: block;
    }
    #trusted-big {
        display: none;
    }
    .overflow-x {
        display: none;
    }
    .flex div {
        width: 90%;
        margin: 5% !important;
    }
    .slidehead, .slidepara {
        margin: auto;
        width: 70%;
    }
    #header > div:nth-of-type(9) {
        width: 74%;
        text-align: right;
    }
    video {
        width: 90%;
        margin: 5%;
    }
    .text {
        width: 90% !important;
        padding-left: 5%;
    } 
    
}